
body {
    background-color: rgb(17, 211, 237);
  }
  h1 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
  }
  
  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }